body {
	background-color: #867979;
}
button {
	margin: 10px;
}
.mid {
	margin-left: 40%;
}
.cen {
	margin-left: 6%;
}
main {
	margin-left: 12%;
	margin-right: 12%;
}
footer {
	position: fixed;
	bottom: 0;
	margin-left: 40%;
}
